

a { color:orange; }

a:hover { color: black;}





body {background: orange; 
	text-align: center;}


.NAME
{color:white;
font-size:500px;
font-family: 'Megrim', cursive;
position: absolute;
left:20px;
right:20px;
line-height: 470px
}

.ALL { 
	position: relative; 
	margin:0 auto;
	top:20px;
	}


.TITLESPACE {
background-color:black; 
width:800px;
margin:0 auto;
position:relative;
}

.WEEKS { 
background-color:white; 
width:800px;
margin:0 auto;
position:relative;
top:-40px;
}

.TITLETEXT1 {
font-family: 'Carrois Gothic SC', sans-serif;
color: white ;
position: relative;
top:20px;
letter-spacing: 3px
}

.TITLETEXT2 {
font-family: 'Reenie Beanie', cursive;
color: orange;
position: relative;
top:-25px;
}


.TITLETEXT3 {		
font-family: 'Carrois Gothic SC', sans-serif;
color: white ;
position: relative;
top:20px; 
letter-spacing: 3px;
}


.TITLETEXT4 { 
font-family: 'Reenie Beanie', cursive;
color: orange;; 
position: relative;
top: -25px; 
}






  
