

h1 {
  color: WHITE;
}

div {
  animation: mymove 5s infinite;
}
body {
	background-color: #FFA900;

}


a {
    color: ORANGE;
    text-decoration: none;
}

a:hover {
    color: black;
}

body {
  text-align: center;
}