
.BOOKTITLE { 
width:850px; color:white; text-align: center; }


body {font-family: 'IM Fell English SC', serif;, sans-serif; color:black; 
letter-spacing: -0.5px; text-align: center;color:white;}

body {background: linear-gradient(-45deg, #976DA1, #6D7AA1, #6D9FA1, #A16D84);
	animation: gradient 1s ease infinite; 	background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
strong {color:#EAD1DC; }
ol {color:#C7CCDD;  list-style: inside;}
ul {color:#C7CCDD; list-style: inside; }

.BODYORG {width:850px; border-style: solid;
  border-width: 10px;
  border-color:transparent;}

.BODYORGg {width:900px; border-style: solid;
  border-width: 2px;
  border-color:white;}