
.BOOKTITLE { 
width:1400px; color:white;}


body {color:black; 
text-align: center;color:white;}

body {background: black
}

}
strong {color:#EAD1DC; }
ol {color:#C7CCDD;  list-style: inside;}
ul {color:#C7CCDD; list-style: inside; }

.BODYORG {width:1000px; border-style: solid;
  border-width: 10px;
  border-color:transparent;
text-align: center;}

.BODYORGg {width:1040px; border-style: solid;
  border-width: 2px;
  border-color:white;}