.boxT{
  width:400px;
height: 100px;
  background-color:black;
  color:white;
  transform: rotate(0deg) scale(0.5); 
margin: 0 auto;
margin-top: 100px;
text-align:center;
}

.boxT:hover { 
 transform: rotate(360deg) scale(2);
  background-color:gray;
  transition: all 2s ease-in-out;
}


.boxK
{width:400px;
height: 100px;
  background-color:black;
  color:white;
  transform: rotate(0deg) scale(0.5); 
margin: 0 auto;
text-align: center;
margin-top: 100px;
animation: BOXOP 1s infinite; 
}

@keyframes BOXOP{
  from {
    transform: scale(0.5);
    opacity: 1; 
  }
  to {
    transform: scale(2);
    opacity: 0;
  }



