
.G {
    color: #071154;
  }


  
body{background-color:#f3f5e0; 
    font-family: 'Do Hyeon', sans-serif;}

    @media (max-width: 550px) {
        body {
              background-color: #c7c0af;
            }
          }
        
.LINESET
{    margin:0 auto;
    position: relative;}

    .LINE0 {
        transform: rotate(90deg);
        font-size: 20px;
        transform-origin: center left;
        text-align:left;
        position: relative;
        left:100px;
        color: #ff456f;
            animation-duration: 13s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
          }

          @media (max-width: 550px) {
            .LINE0 {
            color:orange;
            background-color: #c7c0af;
                }
              }
            
.LINE1 {
    transform: rotate(90deg);
    font-size: 50px;
    transform-origin: center left;
    text-align:left;
    position: relative;
    left:510px;
    background-color:#f3f5e0;
        animation-duration: 17s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-delay: 1s;
      }
     @media (max-width: 550px) {
        .LINE1 {
        color:#2d2d2d;
        background-color: #c7c0af;
            }
          }
    
.LINE2 {
    
    transform: rotate(90deg);
    text-align:left;
    transform-origin: center left;
    position: relative;
    left:600px;
    background-color:#f3f5e0;
    animation-duration: 16s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
@media (max-width: 550px) {
    .LINE2 {
    color:#2d2d2d;
    background-color: #c7c0af;
        }
      }


.LINE4 {
        transform: rotate(90deg);
        text-align:left;
        transform-origin: center left;
        position: relative;
        left:900px;
        background-color:#f3f5e0;
        animation-duration: 9s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        color: orange;
     

}
@media (max-width: 550px) {
    .LINE0 {
    color:gray;
    background-color: #c7c0af;
        }
      }

 .LINE5 {

            transform: rotate(90deg);
            text-align:left;
            transform-origin: center left;
            position: relative;
            left:480px;
            top:-125px;
            background-color:#f3f5e0;
            color: #1d88a9;
            animation-duration: 17s;
            animation-name: slidein;
            animation-iteration-count: infinite;
}
@media (max-width: 550px) {
    .LINE5 {
    color:orange;
    background-color: #c7c0af;
        }
      }
.LINE6 {

    transform: rotate(90deg);
    text-align:left;
    transform-origin: center left;
    position: relative;
    left:1500px;
    background-color:#f3f5e0;
    animation-duration: 18s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
@media (max-width: 550px) {
    .LINE6 {
    color:#2d2d2d;
    background-color: #c7c0af;
        }
      }


.shoot{
    margin:0 auto;
    width:1000px;
    height:1000px;
    position: relative;
    top:100px;
}

.C_SIDE1{
position: relative;
width: 324px;
color: #ff456f;
text-align: justify;
transform: rotate(45deg);
position: absolute;
top: 150px;
left:900px;
line-height:18px;
letter-spacing: -1px;}

@media (max-width: 550px) {
    .C_SIDE1 {
    color:#2d2d2d;
        }
      }



.C_SIDE3 {
    width: 324px;
text-align:justify;
transform: rotate(45deg);
position:absolute;
letter-spacing: -1px;
margin-left:300px;
line-height:18px;
color: #071154;
transform:skew(30deg,45deg);
}

@media (max-width: 550px) {
    .C_SIDE3 {
    color:gray;
        }
      }


.C_SIDE5{
    position: relative;
    width: 324px;
    color: orange;
    text-align: justify;
    transform: rotate(45deg);
    position: absolute;
    top: 300px;
    margin-left:-150px;
    line-height:18px;
    letter-spacing: -1px;}
    @media (max-width: 550px) {
        .C_SIDE5 {
        color:orange;
            }
          }
    

  

@keyframes slidein {
    from {
      top:0px;
      width: 300%; 
      opacity: 100%;
    }
  
    to {
 
      top: 1000px;
      width: 100%;
      opacity: 0%;

    }
  }

