
h1 {color:white;
font-family: 'Bebas Neue', cursive;}

h2 {color:white;
font-family: 'Bebas Neue', cursive;}

body {background-color:#181818;
letter-spacing: -0.1px; 
text-align:left;
font-size: 19px;
line-height: 20px;}

a { color:#181818;}
a:hover { color:white;}


.PAL
{padding-top: 30px;
padding-bottom: 40px;
padding-left: 30px;
width: 1050px; 
margin: 0 auto;
}

::selection { 
color: #ECECEC;}


.POINT
{padding-top: 20px;
padding-bottom: 30px;
width: 1050px; 
margin: 0 auto;

text-align:center;}


.TITLE
{padding-top: 20px;
padding-bottom: 30px;
width: 1050px; 
margin: 0 auto;

text-align:center;}

.PARAGRAPH1
{color:#ECECEC;}

.PARAGRAPH2
{color:#C7C7C7;}

.PARAGRAPH3
{color:#A3A3A3;}

.PARAGRAPH4
{color:#C7C7C7;}

.PARAGRAPH5
{color:#7C7C7C;}

.PARAGRAPH6
{color:#585858;}

.PARAGRAPH7
{color:#3C3C3C;}

.PARAGRAPH8
{color:#252525;}

.PARAGRAPH9
{color:#181818;}
